.flex {
  display: flex;

  &-wrap {
    flex-wrap: wrap;
  }

  &-1 {
    flex: 0 1 8.33%;
  }
  &-2 {
    flex: 0 1 16.66%;
  }
  &-3 {
    flex: 0 1 24.99%;
  }
  &-4 {
    flex: 0 1 33.32%;
  }
  &-6 {
    flex: 0 1 49.98%;
  }
  &-7 {
    flex: 0 1 58.31%;
  }
  &-8 {
    flex: 0 1 66.64%;
  }
  &-9 {
    flex: 0 1 74.97%;
  }
  &-10 {
    flex: 0 1 83.3%;
  }
  &-11 {
    flex: 0 1 91.63%;
  }
  &-12 {
    flex: 0 1 100%;
  }

  &-xs-1 {
    flex: 0 1 8.33%;
  }
  &-xs-2 {
    flex: 0 1 16.66%;
  }
  &-xs-3 {
    flex: 0 1 24.99%;
  }
  &-xs-4 {
    flex: 0 1 33.32%;
  }
  &-xs-6 {
    flex: 0 1 49.98%;
  }
  &-xs-7 {
    flex: 0 1 58.31%;
  }
  &-xs-8 {
    flex: 0 1 66.64%;
  }
  &-xs-9 {
    flex: 0 1 74.97%;
  }
  &-xs-10 {
    flex: 0 1 83.3%;
  }
  &-xs-11 {
    flex: 0 1 91.63%;
  }
  &-xs-12 {
    flex: 0 1 100%;
  }
}
