@import '../../style/function/calculate-size.scss';

section {
  &.content {
    width: calc(100% - #{calculate-size(265)});
    height: 100%;
    margin-left: #{calculate-size(265)};
    background-color: #f1f1f1;
    transition: 0.5s;
    padding: var(--size-3) var(--size-5);
    position: fixed;
    top: 0;
    overflow-y: auto;
    .content {
      padding: var(--size-3);
      background-color: #fff;
      border-radius: var(--size-3);
    }
    /* width */
    &::-webkit-scrollbar {
      width: #{calculate-size(12)};
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: var(--radius-1);
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}
