section {
  &.content {
    width: calc(100% - 300px);
    height: 100%;
    margin-left: 300px;
    background-color: #f1f1f1;
    transition: 0.5s;
    padding: 16px 32px;
    position: fixed;
    top: 0;
    overflow-y: auto;
    .content {
      padding: 16px;
      background-color: #fff;
      border-radius: 16px;
    }
    /* width */
    &::-webkit-scrollbar {
      width: 12px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}
