.aling {
  &-center {
    align-items: center;
  }
  &-end {
    align-items: flex-end;
  }
  &-start {
    align-items: flex-start;
  }

  @media (max-width: 767px) {
    &-xs-center {
      align-items: center;
    }
    &-xs-end {
      align-items: flex-end;
    }
    &-xs-start {
      align-items: flex-start;
    }
  }
}
