.flex {
  display: flex;

  &-row {
    flex-direction: row;
  }
  &-column {
    flex-direction: column;
  }
  &-wrap {
    flex-wrap: wrap;
  }

  @media (max-width: 767px) {
    &-xs-row {
      flex-direction: row;
    }
    &-xs-column {
      flex-direction: column;
    }
    &-xs-wrap {
      flex-wrap: wrap;
    }
  }

  &-1 {
    flex: 0 1 8.33%;
    &-1 {
      flex: 1 1 8.33%;
    }
  }
  &-2 {
    flex: 0 1 16.66%;
    &-2 {
      flex: 1 1 16.66%;
    }
  }
  &-3 {
    flex: 0 1 24.99%;
    &-3 {
      flex: 1 1 24.99%;
    }
  }
  &-4 {
    flex: 0 1 33.32%;
    &-4 {
      flex: 1 1 33.32%;
    }
  }
  &-6 {
    flex: 0 1 49.98%;
    &-6 {
      flex: 1 1 49.98%;
    }
  }
  &-7 {
    flex: 0 1 58.31%;
    &-7 {
      flex: 1 1 58.31%;
    }
  }
  &-8 {
    flex: 0 1 66.64%;
    &-8 {
      flex: 1 1 66.64%;
    }
  }
  &-9 {
    flex: 0 1 74.97%;
    &-9 {
      flex: 1 1 74.97%;
    }
  }
  &-10 {
    flex: 0 1 83.3%;
    &-10 {
      flex: 1 1 83.3%;
    }
  }
  &-11 {
    flex: 0 1 91.63%;
    &-11 {
      flex: 1 1 91.63%;
    }
  }
  &-12 {
    flex: 0 1 100%;
    &-12 {
      flex: 1 1 100%;
    }
  }

  @media (max-width: 767px) {
    &-xs-1 {
      flex: 0 1 8.33%;
      &-1 {
        flex: 1 1 8.33%;
      }
    }
    &-xs-2 {
      flex: 0 1 16.66%;
      &-2 {
        flex: 1 1 16.66%;
      }
    }
    &-xs-3 {
      flex: 0 1 24.99%;
      &-3 {
        flex: 1 1 24.99%;
      }
    }
    &-xs-4 {
      flex: 0 1 33.32%;
      &-4 {
        flex: 1 1 33.32%;
      }
    }
    &-xs-6 {
      flex: 0 1 49.98%;
      &-6 {
        flex: 1 1 49.98%;
      }
    }
    &-xs-7 {
      flex: 0 1 58.31%;
      &-7 {
        flex: 1 1 58.31%;
      }
    }
    &-xs-8 {
      flex: 0 1 66.64%;
      &-8 {
        flex: 1 1 66.64%;
      }
    }
    &-xs-9 {
      flex: 0 1 74.97%;
      &-9 {
        flex: 1 1 74.97%;
      }
    }
    &-xs-10 {
      flex: 0 1 83.3%;
      &-10 {
        flex: 1 1 83.3%;
      }
    }
    &-xs-11 {
      flex: 0 1 91.63%;
      &-11 {
        flex: 1 1 91.63%;
      }
    }
    &-xs-12 {
      flex: 0 1 100%;
      &-12 {
        flex: 1 1 100%;
      }
    }
  }
}
