.alert {
  color: #aaa;
  background-color: #eee;
  border-left: solid 6px #aaa;
  padding: 22px 18px;
  display: flex;
  margin-bottom: 32px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  & i {
    font-style: normal;
    font-size: 16px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }

  &.success {
    color: #58ce74;
    background-color: lighten(#58ce74, 33%);
    border-color: #58ce74;
    & i {
      color: #58ce74;
    }
  }

  &.info {
    color: darken(#c6d4e1, 17%);
    background-color: lighten(#c6d4e1, 13%);
    border-color: darken(#c6d4e1, 17%);
    & i {
      color: darken(#c6d4e1, 17%);
    }
  }

  &.warning {
    color: darken(#dceb5b, 28%);
    background-color: lighten(#dceb5b, 25%);
    border-color: darken(#dceb5b, 28%);
    & i {
      color: darken(#dceb5b, 28%);
    }
  }

  &.danger {
    color: darken(#bf2a23, 18%);
    background-color: lighten(#bf2a23, 35%);
    border-color: darken(#bf2a23, 18%);
    & i {
      color: darken(#bf2a23, 18%);
    }
  }
}
