$fa-font-path: './fontawesome-6.0.0/webfonts';
@import './fontawesome-6.0.0/scss/fontawesome.scss';
@import './fontawesome-6.0.0/scss/solid.scss';
@import './fontawesome-6.0.0/scss/brands.scss';

:root {
  --color1: #061826;
  --color2: #0471a6;
  --color3: #3685b5;
  --color4: #89aae6;
  --color5: #ac80a0;

  --default: #eee;
  --info: #c6d4e1;
  --success: #58ce74;
  --warning: #dceb5b;
  --danger: #bf2a23;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  font-size: 85.5%; // 16px * 75.5% = 13px
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
// mysql://be36541c8c933b:6e5c824a@us-cdbr-east-05.cleardb.net/heroku_2c6115001ba40a2?reconnect=true

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &-1 {
    flex: 0 1 8.33%;
  }
  &-2 {
    flex: 0 1 16.66%;
  }
  &-3 {
    flex: 0 1 24.99%;
  }
  &-4 {
    flex: 0 1 33.32%;
  }
  &-6 {
    flex: 0 1 49.98%;
  }
  &-7 {
    flex: 0 1 58.31%;
  }
  &-8 {
    flex: 0 1 66.64%;
  }
  &-9 {
    flex: 0 1 74.97%;
  }
  &-10 {
    flex: 0 1 83.3%;
  }
  &-11 {
    flex: 0 1 91.63%;
  }
  &-12 {
    flex: 0 1 100%;
  }
}

.btn {
  font-size: 14px;
  padding: 6px 12px;
  margin-bottom: 0;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 16px;
  + .btn {
    margin-left: 6px;
  }
  /* default
---------------------------- */
  &.btn-default {
    color: #333;
    background-color: #fff;
  }

  &.btn-primary {
    color: #fff;
    background-color: var(--color2);
  }

  &.btn-danger {
    color: #fff;
    background-color: var(--danger);
  }
  &:focus,
  &:hover,
  &:active {
    opacity: 0.7;
  }
}

.ul-content-list {
  margin: 16px 0 32px;
  > * {
    &:nth-child(1) {
      font-weight: bold;
      border-bottom: solid 1px #f1f1f1;
    }
    &:nth-child(2n) {
      background-color: #f9f9f9;
    }
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 8px;
  }
}

.help-buttons-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.form-style {
  display: flex;
  flex: 0 1 320px;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  .form-input {
    padding-right: 16px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    label {
      margin-bottom: 3px;
      font-weight: bold;
    }
    input,
    select,
    textarea {
      outline: none;
      border: solid 1px #cecef1;
      border-radius: 6px;
      padding: 0 12px;
      min-height: 36px;
      &:focus {
        border-color: #8c8c8c;
      }
      &.input-invalid {
        border-color: var(--color5);
        + small {
          display: flex;
          color: var(--color5);
        }
      }
      + small {
        display: none;
      }
    }
    + .form-input {
      // margin-top: 12px;
      margin-top: 18px;
    }
  }
}
