:root {
  --default: #eee;

  --hex-1: #061826;
  --hex-2: #0471a6;
  --hex-3: #3685b5;
  --hex-4: #89aae6;
  --hex-5: #ac80a0;

  --primary: #3685b5;
  --success: #58ce74;
  --warning: #e9e521;
  --danger: #fa5249;
  --info: #a2c9ee;
}
