:root {
  --default: #eee;

  --hex-1: #090f13;
  --hex-2: #171f25;
  --hex-3: #752e2b;
  --hex-4: #c90a02;
  --hex-5: #f2eab7;

  --primary: var(--hex-1);
  --success: var(--hex-2);
  --warning: var(--hex-3);
  --danger: var(--hex-4);
  --info: var(--hex-5);

  --size-6: #{calculate-size(6)};
  --size-12: #{calculate-size(12)};
  --size-18: #{calculate-size(18)};
  --size-24: #{calculate-size(24)};
  --size-30: #{calculate-size(30)};
  --size-36: #{calculate-size(36)};
  --size-42: #{calculate-size(42)};
  --size-48: #{calculate-size(48)};
  --size-54: #{calculate-size(54)};
  --size-60: #{calculate-size(60)};
}
