:root {
  --default: #eee;

  --hex-1: #090f13;
  --hex-2: #171f25;
  --hex-3: #752e2b;
  --hex-4: #c90a02;
  --hex-5: #f2eab7;

  --primary: var(--hex-1);
  --success: var(--hex-2);
  --warning: var(--hex-3);
  --danger: var(--hex-4);
  --info: var(--hex-5);
}
