.form-product-images {
  > ul {
    > li {
      position: relative;
      overflow: hidden;
      width: #{calculate-size(175)};
      height: #{calculate-size(175)};
      border: solid 1px #dedede;
      margin: var(--size-1);
      border-radius: var(--radius-1);
      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
      }
    }
  }
}
